<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CircleView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1801A33B1CE0753C00E8A307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1801A3541CE0753D00E8A307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1801A35F1CE0753E00E8A307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
